@model IEnumerable<Technician>
@{
    ViewData["Title"] = "Technician Manager";
}

<h3>Technician Manager</h3>
<table>
    <thead>
        <tr>Name</tr>
        <tr>Email</tr>
        <tr>Phone</tr>
        <tr></tr>
        <tr></tr>
    </thead>
    <tbody>
        @foreach (Technician technician in Model)
        {
            <tr>
                <td>@technician.technicianFullName</td>
                <td>@technician.technicianEmail</td>
                <td>@technician.technicianPhone</td>
                <td>
                    <form>
                        <button type="submit" asp-action="Edit" asp-controller="Technician" asp-route-id="@technician.technicianId">Edit</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button type="submit" asp-action="Delete" asp-controller="Technician" asp-route-id="@technician.technicianId">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form>
    <button type="submit" asp-action="Add" asp-controller="Technician">Add Technician</button>
</form>
