@model Product
<h3>@ViewBag.Action Product</h3>

@if (ViewBag.Action == "Add")
{
    <form asp-action="Edit" asp-controller="Product" method="post">
        <input type="hidden" value="0" asp-for="productId"/>
        <label for="productCode">Code</label>
        <br />
        <input type="text" id="productCode" name="productCode" asp-for="productCode"/>
        <br />
        <label for="productName">Name</label>
        <br />
        <input type="text" id="productName" name="productName" asp-for="productName"/>
        <br />
        <label for="productPrice">Yearly Price</label>
        <br />
        <input type="text" id="productPrice" name="productPrice" asp-for="productPrice"/>
        <br />
        <label for="productReleaseDate">Release Date</label>
        <br />
        <input type="text" id="productReleaseDate" name="productReleaseDate" value="@DateTime.Now" asp-for="productReleaseDate"/>
        <br /><br />
        <input type="submit" value="Save"/>
        <button type="button" onclick="location.href='@Url.Action("List", "Product")'">Cancel</button>
    </form>
}
@if (ViewBag.Action == "Edit")
{
    <form asp-action="Edit" asp-controller="Product" method="post">
        <input type="hidden" value="@Model.productId" asp-for="productId"/>
        <label for="productCode">Code</label>
        <br />
        <input type="text" id="productCode" name="productCode" value="@Model.productCode" asp-for="productCode"/>
        <br />
        <label for="productName">Name</label>
        <br />
        <input type="text" id="productName" name="productName" value="@Model.productName" asp-for="productName"/>
        <br />
        <label for="productPrice">Yearly Price</label>
        <br />
        <input type="text" id="productPrice" name="productPrice" value="@Model.productPrice" asp-for="productPrice"/>
        <br />
        <label for="productReleaseDate">Release Date</label>
        <br />
        <input type="text" id="productReleaseDate" name="productReleaseDate" value="@Model.productReleaseDate" asp-for="productReleaseDate"/>
        <br />
        <br />
        <input type="submit" value="Save" />
        <button type="button" onclick="location.href='@Url.Action("List", "Product")'">Cancel</button>
    </form>
}