@model IEnumerable<Incident>
@{
    ViewData["Title"] = "Incident Manager";
}

<h3>Incident Manager</h3>
<table>
    <thead>
        <tr>Title</tr>
        <tr>Customer</tr>
        <tr>Product</tr>
        <tr>Date Opened</tr>
        <tr></tr>
        <tr></tr>
    </thead>
    <tbody>
        @foreach (Incident incident in Model)
        {
        <tr>
            <td>@incident.incidentTitle</td>
            @foreach (Customer customer in ViewBag.Customer)
            {
                if (@customer.customerId == @incident.incidentCustomerId)
                {
                    <td>@customer.customerFirstName @customer.customerLastName</td>
                }
            }
            @foreach (Product product in ViewBag.Product)
            {
                if (@product.productId == @incident.incidentProductId)
                {
                    <td>@product.productName</td>
                }
            }
            <td>@incident.incidentDateOpened</td>
            <td>
                <form>
                    <button type="submit" asp-action="Edit" asp-controller="Incident" asp-route-id="@incident.incidentId">Edit</button>
                </form>
            </td>
            <td>
                <form>
                    <button type="submit" asp-action="Delete" asp-controller="Incident" asp-route-id="@incident.incidentId">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<form>
    <button type="submit" asp-action="Add" asp-controller="Incident">Add Incident</button>
</form>
