@model IEnumerable<Incident>
@{
    ViewData["Title"] = "Incident Manager";
}

<h3>Incident Manager</h3>
<table>
    <thead>
        <tr>Title</tr>
        <tr>Customer</tr>
        <tr>Product</tr>
        <tr>Date Opened</tr>
        <tr></tr>
        <tr></tr>
    </thead>
    <tbody>
        @foreach (Incident incident in Model)
        {
            <tr>
                <td>@incident.incidentTitle</td>
                <td>@incident.incidentCustomer</td>
                <td>@incident.incidentProduct</td>
                <td>@incident.incidentDateOpened</td>
                <td>
                    <form>
                        <button type="submit" asp-action="Edit" asp-controller="Incident" asp-route-id="@incident.incidentId">Edit</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form>
    <button type="submit" asp-action="Add" asp-controller="Incident">Add Incident</button>
</form>
